@*@model IEnumerable<miPrimerMVCC.Models.Datos>*@

@{
    ViewBag.Title = "Main";
}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<h2>Regsitros</h2>
swal("Hello world!")
<div class="row">
    <button class="btn btn-primary">Ingresar registro</button>
   <div class="form-control">        
       <table class="table table-bordered">
           <tr>
               <th>
                   Nombre
               </th>
               <th>
                   Apellido Paterno
               </th>
               <th>
                   Apellido Materno
               </th>
               <th>
                   Edad
               </th>
               <th>
                   Sexo
               </th>
               <th>
                   Action
               </th>
           </tr>
       </table>
   </div>
</div>

